<!DOCTYPE html>
<html th:fragment="layout (template)" lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Willkommen [[${#request.userPrincipal.principal.fullName}]]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />
</head>
<body>
<header>
  <div class="b-example-divider"></div>


  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="40" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/todos" class="nav-link px-2 text-white">ToDos</a></li>
          <li><a href="/createtodo" class="nav-link px-2 text-white">Neues ToDo?</a></li>
          <li><a href="/list_users" class="nav-link px-2 text-white">Benutzer Liste</a></li>
        </ul>

        <div>
          <a class="btn btn-warning" th:action="@{/logout}" th:href="@{/login}" th:classappend="${#request.requestURI == '/login' ? 'active':''}">Logout</a>
        </div>
      </div>
    </div>
  </header>
</header>
<main role="main" class="content-wrapper mt-r">
  <div class="container">
    <section th:include="${template}"></section>
  </div>
</main>
</body>
</html>