<!DOCTYPE html>
<html th:replace="~{loginLayout :: layout (~{::body})}" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Bitte Registriere dich!</title>
</head>
<body>
<div class="box">
<div style="width: 50%; margin: 150px auto;">
<form th:action="@{/registration_process}" th:object="${toDoUser}"
      method="post" style="max-width: 600px; margin: 0 auto;">
    <fieldset>



        <!-- Text input-->

        <div class="form-group">
            <label class="custom-field three">
                <input type="text" id="fname" name="email" placeholder="&nbsp;" th:field="*{firstName}" required
                       minlength="3" maxlength="20">
                <span class="placeholder">Vorname</span>
                <span class="border"></span>
            </label>
            <label class="custom-field three">
                <input type="text" id="lname" name="lname" placeholder="&nbsp;" th:field="*{lastName}" required
                       minlength="3" maxlength="20">
                <span class="placeholder">Nachname</span>
                <span class="border"></span>
            </label>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="custom-field three">
                <input type="text" id="email" name="email" placeholder="&nbsp;" th:field="*{email}" required
                       minlength="6" maxlength="40">
                <span class="placeholder">E-Mail Adresse</span>
                <span class="border"></span>
            </label>
            <label class="custom-field three">
                <input type="password" id="myInput" name="password" placeholder="&nbsp;" th:field="*{password}" required
                       minlength="6" maxlength="10" >
                <span class="placeholder">Passwort</span>
                <span class="border"></span>
            </label>
            <p></p>
            <input type="checkbox" onclick="myFunction()"> Passwort anzeigen
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
        <p></p>
                <button id="save" name="save" class="btn btn-success">Registrieren</button>
                <a class="btn btn-warning" th:action="@{/login}" th:href="@{/login}" th:classappend="${#request.requestURI == '/login' ? 'active':''}">Login</a>


    </fieldset>
</form>
</div>
</div>
</body>
</html>