<!DOCTYPE html>
<html th:replace="~{loginLayout :: layout (~{::body})}" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Succeeded!</title>
</head>
<body>
<div class="text-center">
      <div>
          <p></p>
          <p></p>
          <h1>Du hast dich erfolgreich bei uns angemeldet </h1>
          <a class="btn btn-warning" th:action="@{/login}" th:href="@{/login}" th:classappend="${#request.requestURI == '/login' ? 'active':''}">Zurück zum Login</a>
      </div>
</div>
</body>
</html>