<!DOCTYPE html>
<html th:replace="~{loginLayout :: layout (~{::body})}" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Bitte Registriere dich!</title>
</head>
<body>
<div style="width: 50%; margin: 150px auto;">
<form th:action="@{/registration_process}" th:object="${toDoUser}"
      method="post" style="max-width: 600px; margin: 0 auto;">
    <fieldset>



        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label" for="fname">Vorname</label>
                <input id="fname" name="fname" type="text" placeholder="Vorname" th:field="*{firstName}" class="form-control input-md" required
                       minlength="3" maxlength="20">
        </div>

        <p></p>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="lname">Nachname</label>
                <input id="lname" name="lname" type="text" placeholder="Nachname" class="form-control input-md" th:field="*{lastName}" required
                       minlength="3" maxlength="20">

        </div>

        <p></p>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">E-Mail Adresse</label>
                <input id="email" name="email" type="email" placeholder="E-Mail" class="form-control input-md" th:field="*{email}" required
                       minlength="6" maxlength="40">

        </div>

        <p></p>
        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Passwort</label>
                <input id="password" name="password" type="password" placeholder="Passwort" class="form-control input-md" th:field="*{password}" required
                 minlength="6" maxlength="10">
        </div>

        <p></p>
        <!-- Button (Double) -->
                <button id="save" name="save" class="btn btn-success">Registrieren</button>
                <a class="btn btn-warning" th:action="@{/login}" th:href="@{/login}" th:classappend="${#request.requestURI == '/login' ? 'active':''}">Login</a>


    </fieldset>
</form>
</div>
</body>
</html>