<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="#" type="module" th:src="@{/js/dynamic.js}" defer></script>
</head>
<body>
<h1>DAS IST EIN TEST</h1>
<div id="components-demo">
    <button-counter></button-counter>
</div>
</body>
</html>
