<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="#" th:src="@{/js/dynamic.js}" defer></script>
</head>
<body>
<div id="dynamic">
    <dynamic></dynamic>
</div>
</body>
</html>
