<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}">
<body>
<p></p>
<div class="box">
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Benutzer ID</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>E-Mail</th>
  </tr>
  </thead>
  <tbody>
      <tr th:each="toDoUser: ${listUsers}">
          <td th:text="${toDoUser.id}">Benutzer ID</td>
          <td th:text="${toDoUser.firstName}">Vorname</td>
          <td th:text="${toDoUser.lastName}">Nachname</td>
          <td th:text="${toDoUser.email}">E-Mail</td>
      </tr>
  <tbody>
</table>
</div>
</body>
</html>